/* -*- mode: css -*-

https://developer.gnome.org/gtk3/stable/chap-css-overview.html
https://developer.gnome.org/gtk3/stable/chap-css-properties.html

AND FOR F*CKINGs SAKE: USE https://wiki.gnome.org/action/show/Projects/GTK/Inspector?action=show&redirect=Projects%2FGTK%2B%2FInspector
*/

.output-label, .input-label {
    font: 10px "monospace";
    font-weight: bold;
}

.input-label {
    color: #000080;
}

.output-label {
    color: #800000;
}

.input-textview text {
}

.active-input-textview text {
    background-color: rgb(100%, 70%, 70%);
}

.output-textview text {
}

